{% extends 'base.html.twig' %}

{% block title %}Presence{% endblock %}

{% block body %}

        <br>
        <br>
        <table id="dtVerticalScrollExample" class="table  table-striped table-dark" >
            <thead>
            <tr>
                    <th></th>

                    {% for event in event %}

                            {% if event.equipe ==  "TFC - Equipe PRO" %}

                                <th>
                                    {{ event.heureBis.format('d-m H:i') }}  {{ event.event }}

                                </th>

                            {% endif %}
                    {% endfor %}

            </tr>
            </thead>

            <tbody>

                {% for player in players %}
                                {% if player.equipe == "TFC - Equipe PRO" %}
                                    <tr>
                                        <th>{{ player.name }} {{ player.firstname }}</th>
                                    {% for event in event %}
                                        {% if event.equipe ==  "TFC - Equipe PRO" %}

                                             <td>
{#                                                <label for="presence"></label>#}
{#                                                <select name="presence" id="presence" class="bg-dark">#}
{#                                                    <option value="1">Oui</option>#}
{#                                                    <option value="0">Non</option>#}
{#                                                </select>#}
                                                 <input type="checkbox" value="presence">

                                            </td>
                                        {% endif %}
                                    {% endfor %}

                                {% endif %}
                                    </tr>
                                <tr>Total</tr>
                {% endfor %}

            </tbody>

        </table>


{% endblock %}
