{% extends 'base.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block body %}
    <h1 class="m-3">Résultats</h1>

    {% for resultat in resultat %}
        {%  if (resultat.score) %}

        <div class="col-md-4 mt-5 mb-3">
            <div class="card">

                <div class="card-body">
                    <h3 class="card-title">{{ resultat.type }}
                    <h3 class="card-title">{{ resultat.equipe }}
                    <h3 class="card-title">{{ resultat.heureBis.format('d-m-Y à H:i') }}
                    <h2 class="card-title">{{ resultat.score }}
                </div>

            </div>
        </div>
        {% endif%}
    {% endfor %}


{% endblock %}
