{% extends 'base.html.twig' %}

{% block title %}Hello CalendrierController!{% endblock %}

{% block body %}

    <h1>Calendrier</h1>

    <div class="container">

        {%  for calendrier in calendrier %}
        {%  if (calendrier.afficher) %}
            <div class="col-md-4 mt-5 mb-3">
                <div class="card">

                    <div class="card-body">
                        <h2 class="card-title">{{ calendrier.type }}
{#                        <h2 class="card-title">{{ calendrier.heureBis }}#}
                        <h4 class="card-title">{{ calendrier.lieu }}

                    </div>
                </div>

            </div>
        {% endif %}
        {% endfor %}

    </div>
{% endblock %}
