{% extends 'base.html.twig' %}

{% block title %}Hello CalendrierController!{% endblock %}

{% block body %}

    <h1>Calendrier</h1>

    <div class="container">

        {%  for calendrier in calendrier %}

            <div class="col-md-4 mt-5 mb-3">
                <div class="card">

                    <div class="card-body">
                        <h2 class="card-title">{{ calendrier.type }}
                        <h2 class="card-title">{{ calendrier.date }}
                        <h4 class="card-title">{{ calendrier.lieu }}

                    </div>
                </div>

            </div>

        {% endfor %}

    </div>
{% endblock %}
