{% extends 'base.html.twig' %}

{% block title %}Les équipes{% endblock %}

{% block body %}
    <style>
        .card-body a{
            width: 100%;
        }

    </style>

<h1 class="m-3">Calendrier</h1>

<div class="container">

    {%  for equipe in  equipe %}

            <div class="col-md-4 mt-5 mb-3">
                <div class="card">

                    <div class="card-body text-center">
                        <a href="{{ path('equip',  {'id': equipe.id} ) }}" class="btn btn-primary">{{ equipe.nom }} </a>

                    </div>
                </div>

            </div>

    {% endfor %}
</div>
{% endblock %}
