{% extends 'base.html.twig' %}

{% block title %}Equipe détail{% endblock %}

{% block body %}

p<div class="container mt-5">
        <table class="table mt-5 table-dark">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Poste</th>
                <th>Détail</th>
            </tr>
            </thead>
            <tbody>
            {% for selection in selection %}
                <tr>
                    <td>{{ selection.name}}</td>
                    <td>{{ selection.firstname }}</td>
                    <td>{{ selection.position }}</td>
                    <td> <a href="{{ path('player',  {'licence': selection.licence} ) }}">Détails</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}
