{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
    <style>
        body{
            background: dimgrey;
        }
        a{
            text-align: center;
            color: #78afb7;
        }
        .error{
            margin-top: 100px;
            text-align: center;
            color: whitesmoke;
        }
    </style>
    <div class="error">
            <h1>Cette page est introuvable...</h1>
            <a href="{{ path('home') }}">Retour sur le site</a>
    </div>

{% endblock %}